/* Declare Global Color Variables 
Sky Light Blue Background1 #CAEBF2
Carbon Light Gray Font #A9A9A9
WaterMelon light red background 2 #FF3B3F
Neutral even lighter gray font2 #EFEFEF
*/


:root {
  --background-color: #FF3B3F;
  --font-color: #EFEFEF;
  --background-color-alt: #CAEBF2;
  --font-color-alt: #A9A9A9;
}
/* reset base padding & margin */
* {
  margin: 0;
  padding: 0;
}
/* Set Box Sizing to Inherit throughout the webpage */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* html styling 
Box Styling to remove margin / padding from elements to make them the same size consitently across the page. 
*/
html {
  box-sizing: border-box;
  font-size: 100%; /*16px default font size */
  scroll-behavior: smooth; /* make scrolling for links smooth rather than jumping when clicked */
}

/* Global Body styling */
body {
  line-height: 2;
}

ul {
  list-style: none;
}

a {
  color: var(--font-color);
  text-decoration: none;
}


/* Nav Styling */

#navbar {
  display: flex;
  justify-content: flex-end;
  /*Fix navbar at top of viewport */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
  z-index: 3;
}

.list-nav {
  margin-right: 3rem;
  display: flex;
}

.list-nav a {
  font-size: 1.5rem;
  padding: 1.5rem;
}

.list-nav a:hover {
  background: var(--background-color-alt);
  color: var(--font-color-alt);
}

