body {
  font-family: 'DM Serif Text', serif;
  font-size: 1rem;
  color: white;
  line-height: 1.2;
  font-weight: 800;
  margin: 10px;
  text-align: center;
}

body::before {
  position: fixed;
  top: 0;
  left: 0; 
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b9c944db-eb99-47ff-8c32-f024a4b87abe/d6503dc-16882fad-dfc4-4ea8-8f58-f403cabe2a8e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I5Yzk0NGRiLWViOTktNDdmZi04YzMyLWYwMjRhNGI4N2FiZVwvZDY1MDNkYy0xNjg4MmZhZC1kZmM0LTRlYTgtOGY1OC1mNDAzY2FiZTJhOGUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HLXqZ6KuK8Dug0IskZG-wQrcqzwYa2WIdG65U6US0Qg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.container {
  width: 45%;
  margin: 3rem auto 0 auto;
  background-color: rgba(58,136,124, 0.80);
  padding: 10px;
  border-radius: 20px;
  border-color: rgb(213,220,220, 0.80);
  border-style: solid;
}

#title {
  margin-bottom: -10px;
  text-shadow: 1px 1px black;
}

#description {
  font-style: oblique;
  text-shadow: 1px 1px black;
}

body {
  background-color: rgba(58,136,124, 0.80);
}

#survey-form {
  display: inline-block;
  width: 45%;
  padding: 10px;
  margin-top: 30px;
  background-color: rgba(58,136,124, 0.80);
  border-radius: 20px;
  border-color: rgb(213,220,220, 0.80);
  border-style: solid;
}

input {
  font-family: 'DM Serif Text', serif;
  font-size: 0.9rem;
}

.input-radio{
  display:inline-block;
  text-align: center;
}

select {
  font-family: inherit;
  color: #527462;
}

.checkboxgroup {
  display: inline-block;
  text-align: center;
  padding-left: 20px;
}

#service-label {
  display: block;
}

#name-label {
  display: block;
  text-align: center;
}

#email-label {
  display: block;
  text-align: center;
}

#number-label {
  display: block;
  text-align: center;
}

#checkbox-label {
  display: block;
  text-align: center;
}


#input-checkbox {
  display: flex;
}

.form-group {
width: 50%;
margin-left: auto;
margin-right: auto;
overflow: hidden;
padding-top: 3px;  
}

.input-textarea {
  resize: none;
  overflow: auto;
  width: 100%;
  height: auto;
  font-family: inherit;
  font-size: inherit;
  color: #527462;
}

.form-control {
  margin-top: 5px;
}

.form-control:focus {
  border-color: #527462;
  outline: 0;
  box-shadow: 0 0 0 1rem rgba(82, 116, 98, 0.25);
}

.submit {
  font-family: inherit;
  margin-top: 5px;
  background-color: rgba(58,136,124, 0.80);
  color: white;
  border-color:  rgb(213,220,220, 0.80);
}






