/* 
Text Default color
color: #002133;
background-color: #ffffff;

*/

/*Define common variables */
:root {
  --font-color: #002133;
  --background-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: Comfortaa, cursive;
}

.page-container {
  position: relative;
}

.a-nav {
  text-decoration: none;
  color: var(--font-color);
  transition: transform 0.2s;
}

.a-nav:hover {
  background-color: var(--font-color);
  color: var(--background-color);
  transition: background-color 1s;
  transition: color 1s;
  transform: scale(1.5);
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/* h1 h2 font-size / color */

header {
  position: fixed;
  min-height: 100px;
  padding: 0px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color);
  top: 0;
  border-bottom: 3px var(--font-color) solid;
  width: 100%;
}

#customer-email {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}

#customer-email > h2 {
  margin-bottom: 25px;
  word-wrap: break-word;
  color: var(--font-color);
}

#customer-email input[type="email"] {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  font-family: Comfortaa, cursive;
  color: var(--font-color);
}

#customer-email input[type="email"]:focus {
  outline: none !important;
  border: 1px solid var(--font-color);
  box-shadow: 0 0 10px var(--font-color);
}

#customer-email input[type="submit"] {
  max-width: 200px;
  width: 100%;
  height: 40px;
  margin: 20px auto;
  border: 2.5px var(--font-color) solid;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 1rem;
  font-family: Comfortaa, cursive;
}

#customer-email input[type="submit"]:hover {
  background-color: var(--font-color);
  color: var(--background-color);
  transition: background-color 1s;
  transition: color 1s;
}

.button {
  cursor: pointer;
}

/* TO ADD MEDIA QUERY FOR SMALLER SCREENS */

.logo-container {
  width: 40vw;
}

.logo-container > img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  margin-left: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40vw;
  color: var(--font-color);
  font-size: 1.5rem;
  text-align: Center;
  padding-right: 10vw;
}

#nav-bar > .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  font-size: 1.2rem;
}

.grid-layout {
  display: flex;
}

#panel-features {
  margin-top: 50px;
}

#panel-features .icon {
  height: 150px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}

#panel-features .description {
  padding: 10px;
  height: 150px;
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#pricing {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--font-color);
}

.solar-panel {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  border: 1px solid var(--font-color);
}

.solar-panel > .product-title {
  background-color: var(--font-color);
  color: var(--background-color);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.solar-panel > h2 {
  margin-top: 15px;
}

.solar-panel > ol {
  margin-top: 15px;
  margin-bottom: 15px;
}

.solar-panel > ol > li {
  padding: 10px 0;
}

.solar-panel > button {
  max-width: 200px;
  width: 100%;
  height: 40px;
  margin: 20px auto;
  border: 2.5px var(--font-color) solid;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 1rem;
  font-family: Comfortaa, cursive;
}

.solar-panel > button:hover {
  background-color: var(--font-color);
  color: var(--background-color);
  transition: background-color 1s;
  transition: color 1s;
}

#SolarVideo {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

#SolarVideo > iframe {
  max-width: 560px;
  width: 100%;
}

footer {
  padding: 30px;
  margin-top: 100px;
  background-color: var(--font-color);
}

footer > ul {
  display: flex;
  justify-content: flex-end;
  color: var(--backfround-color);
}

footer > ul > li {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: var(--background-color);
}

footer > span {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  color: var(--background-color);
}
