/*Declare Global Variables */
/*Living Coral #FC766AFF & Pacific Coast #5B84B1FF */
/*Sailor Blue (#00203FFF) and Mint (#ADEFD1FF) */

:root {
    --background-color: #5B84B1FF;
    --font-color: #FC766AFF;
}

body {
    min-width: 400px;
    background-color: var(--background-color);
    color: var(--font-color);
    line-height: 2;
    font-family: Comfortaa, sans-serif;
    font-size: 16px;
}

nav {
    min-width: 200px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 250px;
    border-right: 5px solid var(--font-color);
}

nav > ul {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5px;
    height: 100%;
}

nav  li {
    color: var(--font-color);
    border-top: 2px solid var(--font-color);
    position: relative;
    width: 100%;
    list-style: none;
}

nav  a {
    cursor: pointer;
    text-decoration: none;
    padding: 20px 40px;
    color: var(--font-color);
    display: block;
}

nav li:last-child {
  border-bottom: 2px solid;
}

#main-doc {
    position: absolute;
    padding: 15px;
    margin-left: 270px;
}

.headline, .nav-header {
    color: var(--font-color);
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

#main-doc .headline {
  text-align: left;
  margin: 0px;
}

h4 {
  font-size: 1em;
  text-decoration: underline;
}

hr {
  border: 3px solid var(--font-color);
  border-radius: 1.5px;
}

section article {
    color: var(--font-color);
    margin: 15px;
}
