/* NOT MY CODE CSS FOR STYLING PRETTYIFY.JS ! WITH SOME EDITS by myself for what i want in the styling */
/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #000;
	border-radius: 8px;
  border: 1px solid var(--font-color);
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}

/* NOT MY CODE CSS FOR STYLING PRETTYIFY.JS ! */




/*Declare Global Variables */
/*Living Coral #FC766AFF & Pacific Coast #5B84B1FF */
/*Sailor Blue (#00203FFF) and Mint (#ADEFD1FF) */
/*Ultimate Gray (#949398FF) & Illuminating (#F4DF4EFF)*/

:root {
    --background-color: #00203FFF;
    --font-color: #ADEFD1FF;
}

body {
    min-width: 400px;
    background-color: var(--background-color);
    color: var(--font-color);
    line-height: 2;
    font-family: Comfortaa, sans-serif;
    font-size: 16px;
}

nav {
    min-width: 200px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 250px;
    border-right: 2px solid var(--font-color);
}

nav > ul {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5px;
    height: 100%;
}

nav  li {
    color: var(--font-color);
    border-top: 2px solid var(--font-color);
    position: relative;
    width: 100%;
    list-style: none;
}

nav  a {
    cursor: pointer;
    text-decoration: none;
    padding: 20px 40px;
    color: var(--font-color);
    display: block;
}

nav li:last-child {
  border-bottom: 2px solid;
}

#main-doc {
    position: absolute;
    padding: 15px;
    margin-left: 270px;
}

.headline, .nav-header {
    color: var(--font-color);
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#main-doc .headline {
  text-align: left;
  margin: 0px;
}

h4 {
  font-size: 1em;
  text-decoration: underline;
}

hr {
  border: 3px solid var(--font-color);
  border-radius: 1.5px;
}

section article {
    color: var(--font-color);
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.code-block {
  display: block;
  position: relative;
  text-align: left;
  line-height: 1;
  background-color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  width: auto;
  border: 3px solid var(--font-color);
}

img {
  height: auto;
  width: auto;
  padding: 5px;
}

.note-card {
  padding-left: px;
  background-color: var(--font-color);
  color: var(--background-color);
  display: block;
  width: 50%;
  border-radius: 5px;
  padding: 1px;
}

.note-code {
  background-color: var(--background-color);
  color: var(--font-color);
}

strong {
  font-weight: bold;
  font-style: italic;
}